 .main-container .user{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin:50px;
    overflow:hidden;
}

 .main-container .user .left-side {
    flex:1;
    margin-top:30px;


}
 .main-container .user .left-side h1{
    /* width:400px; */
    font-size:40px;
    font-weight:700;
    color:#101130;
 
}
 .main-container .user .left-side h3{
    padding-top:20px;
    font-weight:600;
    font-size:20px;
    width:400px;

}
 .main-container .user .left-side p{
    padding-top:30px;
    line-height: 30px;
    font-size:18px;
    width:400px;
    color:#606176;

}
.main-container .user  .left-side  .img{
    display:flex;
    justify-content: space-evenly;
    padding-top:20px;
}
.main-container .user  .left-side  .img p{
    padding-top:10px;
}

 .main-container .user  .right-side{

    flex:1;
}
 .main-container .user  .right-side .icons{
    padding-top:10px;
    margin-left:350px;
    font-size:30px;
  

}
.main-container .user  .right-side .icon{
    padding-left:5px;
  

}
.main-container .user  .des .star-icon{
    color:#FFB800;

}

 .main-container .user  .right-side .content h3{
    width:400px;
    font-size:25px;
    font-weight:700;
    padding-top:10px;
}

 .main-container .user  .right-side .content p{
    padding-top:30px;
    line-height: 30px;
    font-size:18px;
    width:400px;
    color:#606176;
}


.main-container .user  .right-side .content .img{
    display:flex;
    justify-content: space-evenly;
}
.main-container .user  .right-side .content .img p{
    padding-top:10px;
}
.main-container .upgrade{
    width:100%;
    margin:50px;
}

.main-container .upgrade .head{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.main-container .upgrade .head h1{
   width:300px;
    font-size:25px;
}
.main-container .upgrade .head button{
    width:100px;
    height:40px;
    margin-right:70px;
    border:1px solid #2076FF;
    border-radius:10px;
    color:#2076FF;
    background:#fff;
}
.main-container .upgrade .categories{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top:20px;
}
.main-container .upgrade .carts{
    border:none;
    border-radius:16px;
    display:flex;
    flex-direction:column;
    width:240px;
    height:366px;
    box-shadow:rgba(0,0,0,0.24) 0px, 0px,8px;
   
    
}       
.main-container .upgrade .categories .carts .top{
    width:240px;
    border-top: none;
    border-right:none;
    border-left:none;
    height:50px;
    color: #fff;
    border-top-right-radius:16px;
    border-top-left-radius:16px;
 
    padding:30px 100px;
}
.main-container .upgrade .categories  .regular {
    background-color:aliceblue;
}

.main-container .upgrade .categories  .regular .top {
    background:#2076FF;
    box-shadow: 0px 0px 46px -3px rgba(0,0,0,0.1);
}
.main-container .upgrade .categories .carts  .middle{
    padding-top: 30px;

    
}
.main-container .upgrade .categories .carts .middle p{
    text-align:center;
    font-size:40px;
    font-weight:500;
}
.main-container .upgrade .categories .carts span{
    font-size:12px;
    
}

.main-container .upgrade .categories .carts .middle  ul{
    padding-top:10px;
    padding-left: 30px;
}
.main-container .upgrade .categories .carts .middle  ul li{
   list-style-type:circle;
    padding:10px;
    padding-left: 10px;
}
.main-container .upgrade .categories .carts .bottom-side button{
    width:170px;
    height:40px;
    margin-top:20px;
    border:none;
    margin-left:30px;
    background-color:transparent;

}

.main-container .upgrade .categories .regular .bottom-side button{
    border:1px solid #2076FF;
    border-radius:10px;
    color:#2076FF;
    

}
.main-container .upgrade .categories  .Medium{
    background-color:#FEF0C3;
}
.main-container .upgrade .categories  .Medium .top {
    background:#F6C07A;
    box-shadow: 0px 0px 46px -3px rgba(0,0,0,0.1);
}

.main-container .upgrade .categories .Medium .bottom-side button{
    border:1px solid #F6C07A;
    border-radius:10px;
    color:
     #F6C07A;

}
.main-container .upgrade .categories  .Premium{
    background-color:#FEF0C3;
}
.main-container .upgrade .categories  .Premium .top {
    background:#F77E53;
    box-shadow: 0px 0px 46px -3px rgba(0,0,0,0.1);
}

.main-container .upgrade .categories .Premium .bottom-side button{
    border:1px solid #F77E53;
    border-radius:10px;
    color: #F6C07A;

}
