 .main-container .user{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin:50px;
    overflow:hidden;
}

 .main-container .user .left-side {
    flex:1;
    margin-top:30px;


}
 .main-container .user .left-side h1{
    /* width:400px; */
    font-size:40px;
    font-weight:700;
    color:#101130;
 
}
 .main-container .user .left-side h3{
    padding-top:20px;
    font-weight:600;
    font-size:20px;
    width:400px;

}
 .main-container .user .left-side p{
    padding-top:30px;
    line-height: 30px;
    font-size:18px;
    width:400px;
    color:#606176;

}
.main-container .user  .left-side  .img{
    display:flex;
    justify-content: space-evenly;
    padding-top:20px;
}
.main-container .user  .left-side  .img p{
    padding-top:10px;
}

 .main-container .user  .right-side{

    flex:1;
}
 .main-container .user  .right-side .icons{
    padding-top:10px;
    margin-left:350px;
    font-size:30px;
  

}
.main-container .user  .right-side .icon{
    padding-left:5px;
  

}
.main-container .user  .des .star-icon{
    color:#FFB800;

}

 .main-container .user  .right-side .content h3{
    width:400px;
    font-size:25px;
    font-weight:700;
    padding-top:10px;
}

 .main-container .user  .right-side .content p{
    padding-top:30px;
    line-height: 30px;
    font-size:18px;
    width:400px;
    color:#606176;
}


.main-container .user  .right-side .content .img{
    display:flex;
    justify-content: space-evenly;
}
.main-container .user  .right-side .content .img p{
    padding-top:10px;
}
.main-container .upgrade{
    width:100%;
    margin:50px;
}

.main-container .upgrade .head{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.main-container .upgrade .head h1{
   width:300px;
    font-size:25px;
}
.main-container .upgrade .head button{
    width:100px;
    height:40px;
    margin-right:70px;
    border:1px solid #2076FF;
    border-radius:10px;
    color:#2076FF;
    background:#fff;
}