.main-container{
    width:100%;
    font-family: "Roboto", sans-serif;
}
.main-container .container{
    display:flex;
}
.main-container .container .img-box img {
    width:500px;
    height:550px;
}
.main-container .container .content  h2{
    font-size:30px;
    text-transform:capitalize;
    letter-spacing: 1;
    width:300px;
    padding-bottom:20px;
    color:#101130;
    font-weight:700;
}

.main-container .container .icons .content-order{
    width:250px;
    height:200px;
}
.main-container .container .icons .content-order .div-icon{
    border: none;
    border-radius: 10px;
    background:rgb(115, 244, 115);
    width:40px;
    height: 40px;
    
}
.main-container .container .content-order .icon{
    font-size: 20px;
    margin:10px;
  

}

.main-container .container .icons{
    display:flex;
    flex-wrap:wrap;

}
.main-container .container .content-order h5{
    font-size:16px;
    padding-top:20px;
    
}
.main-container .container .content-order .paragraph{
    font-size: 15px;
    width:200px;
    word-break: break-all;
}

.main-container .details{
    width: 100%;
   
}
.main-container .details .content{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:20px;

}
.main-container .details .content h2{
    font-size:40px;
    font-weight:700;
    width:500px;
}
.main-container .details .content button{
    width:130px;
    height:40px;
    border:1px solid #2076FF;
    color:#2076FF;
    background:#fff;
    border-radius:10px;
    cursor:pointer;

}
.main-container .details .content .btn:hover{
    background-color: #2076FF;
    color:#fff;

}
.main-container .details  .cart{
    margin:50px;
    display:flex;
    justify-content:space-evenly;

}
.main-container .details  .cart .img-box {
    width:202px;
    height:300px;
    border:none;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius:10px

}
.main-container .details  .cart .img-box  img{
    width:200px;
    height:150px;

}
.main-container .details  .cart .img-box p{
    padding-top:10px;
    padding-bottom:20px;
    font-size:15px;
    font-weight:700;
}
.main-container .details  .cart .img-box  .icons{
    display:flex;
    justify-content: space-between;
    
}
.main-container .details  .cart .img-box  .icon{
    color:#F77E53;
   
}
.main-container .details  .cart button{
    margin:15px 10px;
    width:180px;
    height:30px;
    border:1px solid #2076FF;
    border-radius:10px;
    padding-left:5px;
    background-color: #fff;
}
.main-container .contents{
    display:flex;
    justify-content:space-around;
    margin-top:100px;
}
.main-container .contents .content-details{
    margin-left:30px;

}

.main-container .contents .content-details h1{
    font-size:35px;
    font-weight: 700;
    width:400px;
   
}
.main-container .contents .content-details p{
    font-size:18px;
    padding:20px 0px;
    width:500px;
    line-height:25px;
}
.main-container .contents .content-details button{
    margin:10px 0px; 
    width:180px;
    height:50px;
    border-radius:16px;
    background-color: #F77E53;
    color:#fff;
    border:none;
    font-size:16px;
}

.main-container .contents  .container{
    background:#F6F5FA;
    width:350px;
    height:380px;
    border-radius:16px;
    display:flex;
    flex-direction:column;

   
}
.main-container .contents  .container .image-box {
    margin-right:500px;
}
.main-container .contents  .container .image-box img{
    width:250px;
    height:200px;
    margin-bottom:10px;
    margin-top:100px;


}
.main-container .contents  .container .images{
display:flex;
justify-content:space-evenly;
flex-direction:row;
z-index: 1;

}

.main-container .contents  .container .images .first{
    border:none;
    border-radius:10px;
    width:100px;
    height:130px;
    background:#fff;
    margin-right:10px;
   

}
.main-container .contents  .container .images .second{
    border:none;
    border-radius:10px;
    width:100px;
    height:130px;
    background:#fff;
    margin-right:10px;


}
.main-container .contents  .container .images .third{
    border:none;
    border-radius:10px;
    width:100px;
    height:130px;
    background:#fff;
    margin-right:10px;
    

}
.main-container .contents  .container .images .image img{
    width:80px;
    margin:10px;

}
.main-container .user{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin:50px 100px;
}

.main-container .user .left-side {
    flex:1;
    margin-top:30px;


}
.main-container .user .left-side h1{
    /* width:400px; */
    font-size:40px;
    font-weight:700;
    color:#101130;
 
}
.main-container .user .left-side h3{
    padding-top:20px;
    font-weight:600;
    font-size:20px;
    width:400px;

}
.main-container .user .left-side p{
    padding-top:30px;
    line-height: 30px;
    font-size:18px;
    width:400px;
    color:#606176;

}
.main-container .user .left-side .right-side{
    flex:1;
}
.main-container .user .left-side .right-side .icon{
    margin-left:150px;

}

