.main-container{
    width:100%;
    font-family:"roboto", sans-serif;
  

}
.main-container .container{
    width:100%;
    display:flex;
    justify-content: space-around;
    padding:20px;

}
.main-container .container .content{
    flex:1;
   
  
}
.main-container .container .content h1{
    width:520px;
    font-size:60px;
    color:#101130;
    font-weight:700;
    line-height:72px;

}
.main-container .container .content .p{
    margin-top:20px;
    width:447px;
    color:#606176;
    font-size:20px;
    font-weight:400;
    line-height:32px;
}
.main-container .container .content button{
    margin-top:20px;
    width:200px;
    height:62px;
    border-radius:16px;
    background:#F77E53;
    color:#fef4f1;
    font-weight:600;
    line-height:32px;
    font-size:18px;
    border:none;
    letter-spacing: -0.18px;
    

}


.main-container .container .content p{
    margin-top:30px;
    width:447px;
    color:#606176;
    font-size:18px;
    font-weight:400;

}
.main-container .container .content span{
    color:#2076ff;
    text-decoration:underline;

}
.main-container .container  .img-box{
    flex:1;
    height:560px;
   
}
.main-container .container img{
    width:620px;
}
.main-container .container .text h1{
    color:#101130;
    font-size:62px;
    font-weight:700;

}
.main-container .container .text p{
    color:#606176;
    font-size:20px;
    font-weight:400;
    line-height:28px;
    letter-spacing: -0.2px;
    width:251px;
}
.main-container .container .img-container{
    display:flex;
    background: pink;


}
.main-container .container .img-container img{
    width:170px;
    height: 60px;
}
.main-container .container .img-container .img1{
    background: #bbdcff;
}

